<div class="wrapper">

  <div class="cols cols0">
    <span class="topline">Hello</span>
    <h2>ZAGE MILONGA</h2>
    <span class="multiText">Software Engenner</span>
    <p>Lincenciado em engenharia informática pelo instituto de
      tecnologias de informação e comunicação. Desenvolvedor
      web FullStack com 5 anos de experiência comprovada em
      Laravel 10, Vuejs 3, MySQL, API Rest, alto conhecimentos em
      metologias agil, cultura DevOps, Docker. Participei no
      concurso do ACM/ICP em 2019 e no Global Management
      Challenge (GMCA) 2021. Capacidade de gerenciar
      conflitos, equipe, riscos e adaptar-se em ambientes novos e
      com um bom ritmo de aprendizagem e lidar com situações
      inesperada e sob pressão.
      Estou ansioso por uma nova oportunidade na empresa, onde
      possa aplicar e desenvolver as minhas competências
      profissionais na função designada.</p>
    <div class="btns">
      <button>dowload CV</button>
      <button>encontra-me</button>

    </div>
  </div>
  <div class="cols cols1">
    <div class="imgbox">
      <img src="/assets/pincel.png" alt="" id="pincel">
      <img src="/assets/zage.png" id="person">
    </div>
  </div>
</div>
