<div class="gradient">
  <span class="color-1">  </span>
  <span class="color-2"></span>
  <span class="color-3"></span>
  <span class="color-4"></span>
  <span class="color-5"></span>
</div>
<h1>
  <span>Hard and Soft Skills</span>
</h1>

<div class="container">
  <div class="time">
    <div class="cicle" style="--clr:#04fc43;">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>
      <div id="days">Vue.js</div>
    </div>
    <div class="cicle" style="--clr:#C3002F;">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>

      <div id="minutos">Angular
      </div>
    </div>
    <div class="cicle" style="--clr:#023430;">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>
      <div id="days">MongoDB</div>
    </div>

    <div class="cicle" style="--clr:#3E6E93;">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>
      <div id="days">Mysql</div>
    </div>
    <div class="cicle" style="--clr:#2C682C;">
      <svg class="nodejs">
        <circle cx="70" cy="70" r="70"></circle>
      </svg>
      <div id="horas">nodejs</div>
    </div>

    <div class="cicle" style="--clr:#7A86B8;">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>

      <div id="minutos">PHP
      </div>
    </div>
    <div class="cicle" style="--clr:#fee800;">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
      </svg>

      <div id="minutos">JavaScript
      </div>
    </div>
  </div>
</div>
