*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
 /*  background-color: #f3f5f7;
  overflow: hidden; */
background-color: #0c1022;
  color: #fff;
}
.container{
  width: 100%;
  min-height: 100vh;
}
/*nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111;
  color: red;
}
.logo{
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: #3e565f;
  letter-spacing: 4px;
  cursor: pointer;
  text-transform: uppercase;
}*/
b{
  font-size: 70px;
  color: #7f00ff;
}
.navItens{

  display: flex;
}
.navItens li{
  list-style: none;
  margin: 0 15px;
}
.navItens li a{
  font-size: 25px;
  color: #3e565f;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;

}
.navItens li:hover a, .links a:hover{
  color: #7f00ff;
  font-weight: 500;

}
.links a{
font-size: 10px;
color: #3e565f;
margin: 25px 10px;

}
.links a>svg{

  width: 10%;
}


.sessao2{
  height: auto;
  background-color: #ffffff ;
  display: block;
  position: relative;
  width: 100%;
  animation: fade-in linear forwards;
  animation-timeline: view();
  /* animation-range: 250px 500px; */
  animation-range: entry 100px;
  scale: .8;
  opacity: 0;
/*   animation-range: contain ; */
}
@keyframes fade-in {

/*   from {scale: .6;opacity: 0;} */
  to{scale: 1;opacity: 1;}
}
section{
  padding-top: 20px
  ;


}
section >h1{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 6em;
  flex-direction: column;
  color: #f3f5f7;
  letter-spacing: 4px;
  font-weight: 900;
  bottom: 10px;

}
#Projectos{
  background-color: #0c1022;
 /*  background: linear-gradient(45deg, #f06, #3cf); */

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
/*   background: yellowgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.logo {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
  animation: slideTop 1s ease   forwards ;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  opacity: 0;
  animation: slideTop .5s ease   forwards ;
  animation-delay: calc(.2s * var(--i));
}

.navbar a.active,
.navbar a:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.navbar a.contacto{
  cursor: pointer;
}

/*  .sessao2 .gradient{
  display: flex;
  position: relative;
   width: 100%;
  height: 100vh;
} */
