<h1>
  <span>Projectos desenvolvidos</span>
</h1>
<div class="sessao3">
  <div class="container2">
    <app-card-projectos   titulo="Sistema de Gestão de Projectos" class="primeiro"></app-card-projectos>
    <app-card-projectos titulo="Sistema de Help Desk" class="meio"></app-card-projectos>
    <app-card-projectos titulo="Sistema de Logística" class="meio"></app-card-projectos>
    <app-card-projectos titulo="Sistema de Gestão de Imóveis" class="meio"></app-card-projectos>
    <app-card-projectos  titulo="Sistema de Arquivo" class="ultimo"></app-card-projectos>

  </div>
</div>
