<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <section class="home">
    <div class="home-content">
      <h1 > Zage Milonga</h1>
        <h3> Enginheiro de  Software</h3>
          <p>Lincenciado em engenharia informática pelo instituto de
            tecnologias de informação e comunicação. Desenvolvedor
            web FullStack com 5 anos de experiência comprovada em
            Laravel 10, Vuejs 3, MySQL, API Rest, alto conhecimentos em
            metologias agil, cultura DevOps, Docker. Participei no
            concurso do ACM/ICP em 2019 e no Global Management
            Challenge (GMCA) 2021. Capacidade de gerenciar
            conflitos, equipe, riscos e adaptar-se em ambientes novos e
            com um bom ritmo de aprendizagem e lidar com situações
            inesperada e sob pressão.
            Estou ansioso por uma nova oportunidade na empresa, onde
            possa aplicar e desenvolver as minhas competências
            profissionais na função designada.</p>
<a href="#" class="btn">Aqui!</a>

    </div>
    <div class="home-img">
      <div class="glowing-circle">
        <span></span>
        <span></span>
        <div class="image">
        <img src="/assets/zage.png" id="person">
      </div>
    </div>
    </div>
  </section>
</body>

</html>
